
<div class="card">
        <div class="card-body">
                <nav class="col-md-6 col-md-offset-3 text text-center">
                                <div class="btn-group">
                        <button class="btn btn-success">
                                <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" style="text-decoration:none;color:whitesmoke">About Us</a>
                    
                        </button>
                        <button class="btn btn-primary">
                        <a routerLink="issues" routerLinkActive="active" style="text-decoration:none;color:whitesmoke">View/Modify/Add Issue</a>
                    </button>
                    </div>
                    </nav>
        </div>
      </div>
<br><br>
<router-outlet></router-outlet>
